
h1{
    text-align: center;
    color: blue;
    border: 2px dotted red;
}
h2{
    text-align: left;
    color: red;
}
body{
    background-color: lightblue;
}
.pics{
    display: flex;
    align-items: center;
    justify-content: center;
}
.solo{
    border: lightgreen;
    display: flex;
    align-items:center;
    justify-content: center;
}
